<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Connexion</title>
  </head>
  <body>
    <form name="PAGE_LOGIN" action="/Webresto_V25/PAGE_Login/BBEAAG1K3xgLAELTuGlpIXfE3lU" target="_self" method="post">
      <div>
        <input type="hidden" name="WD_JSON_PROPRIETE_" value="{&quot;m_oProprietesSecurisees&quot;:{}}">
        <input type="hidden" name="WD_BUTTON_CLICK_" value="">
        <input type="hidden" name="WD_ACTION_" value="">
      </div>

      <button type="submit">Se connecter</button>
    </form>
  </body>
</html>
